body, html{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    background: #b5bdc5;
    scroll-behavior: smooth;
    transition: 0.3s;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}


/* ส่วน Header ของเว็บ */
.header{
  width: 100%;
  height: 55%;
  margin: 0;
  background-image:url("image/back4.png");
}
.head{
  width: 100%;
  height: 60px;
}
.head button{
float: left;
margin-top: 10px;
margin-left: 10px;
margin-right: 20px;
}
.head h1{
padding-top: 10px;
padding-left: 20px;
}

.header .container .head h1{
  color: white;
  font-style: italic;
  margin: 0;

}
.head2{
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 15%;
  
}
.head2 p{
 font-size: 22px;
}
.head2 button{
  font-family: 'Prompt', sans-serif;
}


/* ส่วนของ SideBar */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: scroll;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn{
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 12px;

  }
  .sidebar a {font-size: 18px;}
  
}
  /* ปุ่มเรียก sidebar */

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 9px 15px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.openbtn:hover {
  background-color: rgb(219, 120, 54);
}

#member{
  color: #227547;
  transition: 0.3s;
}

#member:hover{
  color: #6fca98;
}


/* ส่วนเนื้อหาของเว็บ */

.content1{
    max-width: 100%;
    min-height: 2000px;
    margin-bottom: 5%; 
    border-radius :20px;
    /* background: #111; */
}

.card:nth-child(10){
  background: white;
  width: 50%;
  height: 215px;
  margin-left: 25%;
  text-align: center;
  font-size: 22px; 
}

.card:nth-child(10) h2{
  padding-top: 35px;
}

.card {
    transition: 0.3s;
    width: 25%;
    height: 450px;
    background: white;
    border-radius : 20px; 
    float: left;
    margin-right: 0%; 
    margin-left: 6.4%; 
    margin-top: 5%;
    margin-bottom: 6.25%;
    overflow: hidden;

}
.card p{
  font-size: 20px;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background: #227547;
    color: #f1f1f1;
    cursor: pointer;
}
.card:hover #white-excel{
    display: inline;
}
.card_container {
    padding: 2px 16px;
    color: black;
    border-radius : 20px; 
  }

/* ปุ่มไปส่วนบนสุดของหน้าเว็บ */

.bottom_to_top{
  width: 70px; 
  height: 70px; 
  background: rgb(0, 0, 0);
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  margin: 20px;
  border: 2px solid #fff;
  transition: 0.3s;
}

.bottom_to_top:hover{
  background: rgb(218, 61, 56);
}

/* ส่วนของ Footer */
.footer{
  width: 100%;
	height: 120px;
	text-align: center;
  background: #227547;
  bottom: 0;
  margin-top:auto; 

}
.footer .container p{
    padding-top:50px; 
}
.infooter{
  widows: 100%;
  height: 100%;
}
.infooter i{
  padding-top: 45px;
}



/* ส่วนขอการปรับหน้าจอ */
@media screen and (max-width: 1460px) {
  .sidebar{
    width: 0px;
  }

@media screen and (max-width: 960px) {
    .card {
      float: none;
      width: 250px;
      height: 385px;
      margin-left: 27%; 
    }
    .footer{
        bottom: 0;
    }
    .card p{
      font-size: 18px;
    }
    .sidebar{
      height: 90%;
      width: 0px;
    }
    .back, .forward{
      width: 9%;
    }
    .content1{
      background: none;
    }
    .header{
      text-align: center;
    }
    .head button{
      padding-left: 15px;
      margin-right: 0px;
    }
  }

@media screen and (max-height: 830px) {
  .sidebar{
    height: 90%;
  } 
}

@media screen and (max-width: 480px) {
    .card {
      float: none;
      width: 200px;
      height: 350px;
      margin-left: 19%;
    }
    
    .footer{
        bottom: 0;
    }
    .card:nth-child(10){
      width: 250px;
      margin-left: 12%; 
    }
    .header{
      height: 70%;
    }
    
  }
