body, html{
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  background: #a9b4bd;
  scroll-behavior: smooth;
  transition: 0.3s;
  box-sizing: border-box;

}
.container{
  max-width: 1100px;
  margin: 0 auto;
}
.head_button{
background: #111;
border: none;
width: 100px;
height: 45px;
color: #FFF;
border-radius: 5px;
font-size: 18px;
cursor: pointer;
transition: 0.3s;
}
.head_button:hover{
background: rgb(255, 204, 108);
color: #000;
}



/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #444; 
  border-radius: 2px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222; 
}






/* ส่วน Header ของเว็บ */
.header{
width: 100%;
min-height: 53%;
margin: 0;
background-image:url("../image/back5.png");
background-attachment: fixed;

}
.head{
width: 100%;
height: 65px;
background:  #e0e0e0;
transition: 0.3s;
position: fixed;
top: 0;
border-bottom: 2px solid #000;
z-index: 1;
}
.head a{
text-decoration: none;
color: #000;
transition: 0.3s;
border-bottom: 3px solid transparent;
cursor: pointer;
}
.head button{
float: left;
margin-left: 10px;
margin-right: 20px;
}
.head h1{
padding-left: 20px;
margin-top: 10px;
margin-bottom: 0;
color: #000;
font-style: italic;
}
.head h1 a:hover{
border-bottom: 3px solid #000;
}


.head2{
width: 100%;
height: auto;
text-align: center;
color: white;
padding-top: 12%;
margin-top: 6%;
}
.head2 p{
font-size: 22px;
}
.head2 button{
width: 130px;
margin-bottom: 10px;
font-family: 'Prompt', sans-serif;
}


/* ส่วนของ SideBar */
.sidebar {
height: 100%;
width: 250px;
position: fixed;
z-index: 1;
top: 65px;
left: 0;
background-color: #111;
transition: 0.5s;
padding-top: 30px;
overflow-y: auto;
overflow-x: hidden;
}

.sidebar a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color: #818181;
display: block;
transition: 0.2s;
}
.sidebar a:first-child:hover{
color: #f1f1f1;
border-left: none;
background: #111;
}
.sidebar a:hover {
color: #f1f1f1;
background: #222;
border-left: 7px solid rgb(219, 120, 54) ;
}

.sidebar .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.closebtn{
font-size: 60px;
}

@media screen and (max-height: 450px) {
.sidebar {
  padding-top: 12px;
}
.sidebar a {font-size: 18px;}
}
/* ปุ่มเรียก sidebar */

.openbtn {
font-size: 20px;
cursor: pointer;
background-color: #111;
color: white;
padding: 9px 15px;
border: none;
border-radius: 5px;
transition: 0.3s;
margin-top: 10px;

}
#open1{
margin-left: 15px;  
}

.openbtn:hover {
background-color: rgb(219, 120, 54);
}

#member{
color: #227547;
transition: 0.3s;
margin-bottom: 120px;
}
#member:hover{
color: #6fca98;
}


/* ส่วนเนื้อหาของเว็บ */

.content1{
  max-width: 100%;
  height: 270px;
  margin-bottom: 5%; 
  border-radius :20px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-top: 50px;

}


.card_img{
  width: 40%;
  height: 100%;
  border-radius : 5px 0px 0px 5px; 
  transition: 0.3s;
  overflow: hidden;
  background: #FFF;
}
img{
  max-width: 100%;
  transition: 0.3s;
}
.card_img img:hover{
  transform: scale(1.1);
}
.card_container{
  width: 60%;
  height: 100%;
  background: #093c28;
  border-radius: 5px;
  border-radius : 0px 5px 5px 0px; 
  color: #FFF;
  
}
.card_container p, .card_container h1{
  padding-left: 20px;
  overflow: hidden;
  margin-top: 0;
  
}
.card_container h1{
  padding-top: 20px;
  margin-bottom: 5px;
}
.card_content{
  width: 100%;
  height: 75%;
  overflow: hidden;
}
.card_button{
  width: 100%;
  height: 25%;
  background: white;
  border: 1px solid #111;
  border-radius : 0px 0px 5px 5px; 
  font-family: 'Prompt', sans-serif;
  text-align: center;
  transition: 0.3s;
  font-size: 17px;
  bottom: 0;
  cursor: pointer;
}
.card_button a{
  width: 1000%;
  text-decoration: none;

  
  color: #000;
}
.card_button:hover{
  background: #111;
  color: white;
}



.content2{
  max-width: 100%;
  height: 30%;
  border-radius :20px;
  display: flex;
  align-items: center;
  border-radius: 50px;
}
.content2:last-child{
  margin-bottom: 70px;
}




.box{
  border-top-left-radius: 10px;
  width: 50%;
  height: 100%;
  background: #21a366;
}
.box2{
  border-top-right-radius: 10px;
  width: 50%;
  height:100%;
  background: #33c481;
}
.box3{
  width: 50%;
  height:100%;
  background: #107c41;
}
.box4{
  width: 50%;
  height:100%;
  background: #21a366;
}
.box5{
  width: 50%;
  height:100%;
  background: #185c37;
  border-bottom-left-radius: 10px;
}
.box6{
  width: 50%;
  height:100%;
  background: #107c41;
  border-bottom-right-radius: 10px;
}


/* ปุ่มไปส่วนบนสุดของหน้าเว็บ */

.bottom_to_top{
width: 65px; 
height: 65px; 
background: rgb(0, 0, 0);
position: fixed;
right: 0;
bottom: 0;
border-radius: 50px;
margin: 15px;
border: 2px solid #fff;
transition: 0.3s;
}

.bottom_to_top:hover{
background: #4970c5;
color: #111;
border: 2px solid #111;
}

/* ส่วนของ Footer */
.footer{
width: 100%;
height: 120px;
text-align: center;
background: #093c28;
bottom: 0;
margin-top:auto; 

}
.footer .container p{
  padding-top:50px; 
}
.infooter{
widows: 100%;
height: 100%;
}
.infooter i{
padding-top: 45px;
}

@media screen and (max-width: 1860px) {
.sidebar{
  width: 0px;
}
}

/* ส่วนขอการปรับหน้าจอ */

@media screen and (max-width: 960px) {
  .content1{
    flex-direction: column;
    width: 425px;
    margin: 50px auto 0 auto;
    height: 100%;
  }
  .card_img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
  }
  .card_img img{
    max-width: 100%;
  }
  .card_container{
    width: 100%;
    height:400px;
    padding-left: 0;
  }
  .card_button{
    height: 25%;
  }
  .card_content{
    height: 75%;
  }
  
  .card_container h1, .card_container p{
    padding: 10px;
    
  }
  .sidebar{

    width: 0px;
    overflow: auto;
  }
  .header{
    height: auto;
  }
  .head button{
    padding-left: 15px;
    margin-right: 0px;
  }
  .head2{
    padding-top: 18%;
  }
  .head2 p{
    margin-bottom: 5px;
  }
  .head h1{
    padding-right: 40px;
    text-align: center;
  }
}


@media screen and (max-width: 490px) {
.content1{
  flex-direction: column;
  width: 300px;
}
.card, .card_extra{
  width: 85%;
  margin-left: auto; 
  margin-right: auto;
}
.card_container h1{
  font-size: 25px;
  margin-bottom: 0;
  padding-bottom: 5;
}
.card_img{
  height: 190px;
}
.card_container{
  height:300px;
}
.footer{
  bottom: 0;
}
.header{
  height: auto;
}

}