
body, html{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    background: #b5bdc5;
    scroll-behavior: smooth;
    transition: 0.3s;
    box-sizing: border-box;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
.head h1 a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

/* ส่วน Header ของเว็บ */
.header{
    width: 100%;
    height: 55%;
    margin: 0;
    background-image:url("../image/back4.png");
}
.head{
    width: 100%;
    height: 60px;
}
.head h1 a{
  text-decoration: none;
  color: white;
}
.head button{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
}
.head h1{
  padding-top: 10px;
  padding-left: 20px;
}
.head a{
  cursor: pointer;
}

.header .container .head h1{
    color: white;
    font-style: italic;
    margin: 0;

}
.head2{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 15%;
    
}
.head2 p{
   font-size: 22px;
}
.head2 button{
    font-family: 'Prompt', sans-serif;
    width: 140px;
    margin-bottom: 10px;
}



/* ส่วนของ SideBar */

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: scroll;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

.sidebar a:hover {
  color: #f1f1f1;
  background: #222;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn{
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;

  }
  .sidebar a {font-size: 18px;}
  
}
  /* ปุ่มเรียก sidebar */

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 9px 15px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.openbtn:hover {
  background-color: rgb(219, 120, 54);
}

#member{
  color: #227547;
  transition: 0.3s;
}

#member:hover{
  color: #6fca98;
}


/* ส่วนเนื้อหาของเว็บ */

.content1{
  display: flex;
  margin-bottom: 5%; 
  align-items: center;
  text-align: center;
  color: white;
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.content1:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.img{
    width: 44%;
    height: 293px;
    
}
.detail{
    width: 100%;
    height: 293px;
    background: #444;
    border-radius: 5px ;
}
.img img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px ;
}

/* ปุ่มไปส่วนบนสุดของหน้าเว็บ */

.bottom_to_top{
  width: 65px; 
  height: 65px; 
  background: rgb(0, 0, 0);
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  margin: 15px;
  border: 2px solid #fff;
  transition: 0.3s;
}

.bottom_to_top:hover {
  background: #4970c5;
  color: #111;
  border: 2px solid #111;
}

/* ส่วนของ Footer */
.footer{
  width: 100%;
	height: 120px;
	text-align: center;
  background: #227547;
  bottom: 0;
  margin-top:auto; 

}
.footer .container p{
    padding-top:50px; 
}
.infooter{
  widows: 100%;
  height: 100%;
}
.infooter i{
  padding-top: 45px;
}



/* ส่วนขอการปรับหน้าจอ */
@media screen and (max-width: 1460px) {
  .sidebar{
    width: 0px;
  }

}
@media screen and (max-width:960px) {

    .footer{
        bottom: 0;
    }
    .sidebar{
      height: 90%;
      width: 0px;
      
    }
    .content1{
        flex-direction: column;
        color: white;
    } 
    .img{
        width: 250px;
        height: 250px;

    }
    .detail{
        width: 250px;
    }
    .detail h1{
      font-size: 26px;
    }
    .detail h2{
      font-size: 20px;
    }
    .header{
      text-align: center;
      height: auto;
    }
    .head button{
      padding-left: 15px;
      margin-right: 0px;
    }
    .head2 p{
      margin-bottom: 5px;
    }
    .head h1 a{
      padding-right: 40px;
    }

  }
  
  @media screen and (max-height: 830px) {
    .sidebar{
      height: 90%;
    } 
    .header{
      height: auto;
    } 
  }
  
@media screen and (max-width: 480px) {

    .footer{
        bottom: 0;
    }
    .header{
        height: auto;
    }
    
  }
