body, html{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    background: #b5bdc5;
    scroll-behavior: smooth;
    transition: 0.3s;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}


/* ส่วน Header ของเว็บ */
.header{
  width: 100%;
  height: 55%;
  margin: 0;
  background-image:url("../image/back4.png");
}
.head{
  width: 100%;
  height: 60px;
}
.head button{
float: left;
margin-top: 10px;
margin-left: 10px;
margin-right: 20px;
}
.head h1{
padding-top: 10px;
padding-left: 20px;
}

.header .container .head h1{
  color: white;
  font-style: italic;
  margin: 0;

}
.head2{
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 15%;
  
}
.head2 p{
 font-size: 22px;
}
.head2 button{
  font-family: 'Prompt', sans-serif;
}


/* ส่วนของ SideBar */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: scroll;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn{
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 12px;

  }
  .sidebar a {font-size: 18px;}
  
}
  /* ปุ่มเรียก sidebar */

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 9px 15px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.openbtn:hover {
  background-color: rgb(219, 120, 54);
}

#member{
  color: #227547;
  transition: 0.3s;
}

#member:hover{
  color: #6fca98;
}


/* ส่วนเนื้อหาของเว็บ */

.content1{
    max-width: 100%;
    margin-bottom: 5%; 
    border-radius :20px;
    display: flex;
}

.card {
    transition: 0.3s;
    width: 40%;
    height: 500px;
    background: white;
    border-radius : 5px; 
    float: left;
    margin-left: 1.5%; 
    margin-top: 0%;
    margin-bottom: 4%;
    overflow: hidden;
}
.card_extra{
  transition: 0.3s;
  width: 50%;
  height: 500px;
  background: white;
  border-radius : 5px; 
  float: left;
  margin-left: 1.5%; 
  margin-top: 0%;
  margin-bottom: 4%;
  overflow: hidden;
}
.card_extra h2{
  font-size: 40px;
  text-align: center;
}
.card_img{
  width:100%;
  height:50%;
  background: #227547;
}
.card_img img{
  width:100%;
  height: 100%;
  background: #227547;
}
.card_button{
  width: 100%;
  height: 100%;
  background: white;
  border: 2px solid #111;
  border-radius : 5px; 
  font-family: 'Prompt', sans-serif;
  transition: 0.3s;
  font-size: 17px;
  bottom: 0;
}
.card_button:hover{
  background: #111;
  color: white;
}
.card p{
  font-size: 18px;
  margin: 0;
}
.button_card{
  width: 100%;
  height:14%;
}
.card_container {
    padding: 2px 16px;
    color: black;
    border-radius : 20px; 
    height: 35%;
  }

/* ปุ่มไปส่วนบนสุดของหน้าเว็บ */

.bottom_to_top{
  width: 70px; 
  height: 70px; 
  background: rgb(0, 0, 0);
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  margin: 20px;
  border: 2px solid #fff;
  transition: 0.3s;
}

.bottom_to_top:hover{
  background: rgb(218, 61, 56);
}

/* ส่วนของ Footer */
.footer{
  width: 100%;
	height: 120px;
	text-align: center;
  background: #227547;
  bottom: 0;
  margin-top:auto; 

}
.footer .container p{
    padding-top:50px; 
}
.infooter{
  widows: 100%;
  height: 100%;
}
.infooter i{
  padding-top: 45px;
}

@media screen and (max-width: 1460px) {
  .sidebar{
    width: 0px;
  }
}

/* ส่วนขอการปรับหน้าจอ */

@media screen and (max-width: 960px) {
    .footer{
        bottom: 0;
    }
    .card p{
      font-size: 17px;
    }
    .sidebar{
      height: 90%;
      width: 0px;
    }
    .header{
      text-align: center;
      height: auto;
    }
    .head button{
      padding-left: 15px;
      margin-right: 0px;
    }
    .head2 p{
      margin-bottom: 5px;
    }
  }

@media screen and (max-height: 830px) {
  .sidebar{
    height: 90%;
  }
  .header{
    height: auto;
  }
}


@media screen and (max-width: 490px) {
  .content1{
    flex-direction: column;
  }
  .card, .card_extra{
    width: 97%;
  }
  .footer{
    bottom: 0;
  }
  .header{
    height: auto;
  }
  
}