body, html{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    background: #b5bdc5;
    transition: 0.3s;
    scroll-behavior: smooth;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}



/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222; 
}





/* ส่วน Header ของเว็บ */
.header{
  width: 100%;
  height: 55%;
  margin: 0;
  background-image:url("../image/back4.png");
}
.head{
  width: 100%;
  height: 65px;
  background: #093c28;
  position: fixed;
  top: 0;
}
.head a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
  padding-bottom: 15px;
  cursor: pointer;
}
.head button{
  float: left;
  margin-left: 10px;
  margin-right: 20px;
}
.head h1{
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  color: white;
  font-style: italic;
}
.head h1 a:hover{
  border-bottom: 2px solid #FFF;
  padding-bottom: 0px;
}

.head2{
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  padding-top: 15%;
  margin-top: 5%;
}
.head2 p{
 font-size: 22px;
}
.head2 button{
  width: 130px;
  margin-bottom: 10px;
  font-family: 'Prompt', sans-serif;
}



/* ส่วนของ SideBar */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: scroll;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.2s;
}
.sidebar a:first-child:hover{
  color: #f1f1f1;
  border-left: none;
  background: #111;
}
.sidebar a:hover {
  color: #f1f1f1;
  background: #222;
  border-left: 7px solid rgb(219, 120, 54) ;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn{
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 12px;
  }
  .sidebar a {font-size: 18px;}
}
  /* ปุ่มเรียก sidebar */

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 9px 15px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;

}

.openbtn:hover {
  background-color: rgb(219, 120, 54);
}

#member{
  color: #227547;
  transition: 0.3s;
}

#member:hover{
  color: #6fca98;
}


/* ส่วนเนื้อหาของเว็บ */

.content1{
    max-width: 100%;
    margin-bottom: 5%; 
    border-radius :20px;
    display: flex;
}

.card {
    transition: 0.3s;
    width: 40%;
    height: 500px;
    background: white;
    border-radius : 5px; 
    float: left;
    margin-left: 1.5%; 
    margin-right: 1.5%;
    margin-top: 0%;
    margin-bottom: 4%;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card_extra{
  transition: 0.3s;
  width: 50%;
  height: 500px;
  background: white;
  border-radius : 5px; 
  float: left;
  margin-left: 1.5%; 
  margin-top: 0%;
  margin-bottom: 4%;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card_extra h2{
  font-size: 40px;
  text-align: center;
}
.card_img{
  width:100%;
  height:50%;
  background: #227547;
}
.card_img img{
  width:100%;
  height: 100%;
  background: #227547;
}
.card_button{
  width: 100%;
  height: 101.5%;
  background: white;
  border: 1px solid #111;
  border-radius : 0px 0px 5px 5px; 
  font-family: 'Prompt', sans-serif;
  transition: 0.3s;
  font-size: 17px;
  bottom: 0;
  cursor: pointer;
}
.card_button a{
  width: 100%;
  text-decoration: none;
  color: #000;
}
.card_button:hover{
  background: #111;
  color: white;
}
.card p{
  font-size: 18px;
  margin: 0;
}
.button_card{
  width: 100%;
  height:14%;
}
.card_container {
    padding: 2px 16px;
    color: black;
    border-radius : 20px; 
    height: 35%;
  }

/* ปุ่มไปส่วนบนสุดของหน้าเว็บ */

.bottom_to_top{
  width: 65px; 
  height: 65px; 
  background: rgb(0, 0, 0);
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  margin: 15px;
  border: 2px solid #fff;
  transition: 0.3s;
}

.bottom_to_top:hover{
  background: #4970c5;
  color: #111;
  border: 2px solid #111;
}

/* ส่วนของ Footer */
.footer{
  width: 100%;
	height: 120px;
	text-align: center;
  background: #093c28;
  bottom: 0;
  margin-top:auto; 

}
.footer .container p{
    padding-top:50px; 
}
.infooter{
  widows: 100%;
  height: 100%;
}
.infooter i{
  padding-top: 45px;
}

@media screen and (max-width: 1860px) {
  .sidebar{
    width: 0px;
  }
}

/* ส่วนขอการปรับหน้าจอ */

@media screen and (max-width: 960px) {
    .card p{
      font-size: 17px;
    }
    .sidebar{
      height: 90%;
      width: 0px;
    }
    .header{
      height: auto;
    }
    .head button{
      padding-left: 15px;
      margin-right: 0px;
    }
    .head2 p{
      margin-bottom: 5px;
    }
    .head h1{
      padding-right: 40px;
      text-align: center;
    }
  }

@media screen and (max-height: 830px) {
  .sidebar{
    height: 90%;
  }
}


@media screen and (max-width: 490px) {
  .content1{
    flex-direction: column;
  }
  .card, .card_extra{
    width: 85%;
    margin-left: auto; 
    margin-right: auto;
  }
  .footer{
    bottom: 0;
  }
  .header{
    height: auto;
  }
  
}